.player-hand {
  display: flex;

  button {
    background-color: blue;
    color: white;
    border-radius: 3px;
    height: 28px;
    width: 120px;
    border: none;
    font-weight: 700;
    margin: 8px;
  }
}